html {
  background: #eee;
  height: 100%;
  width: 100%;
}
body {
  max-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 1em;
  font: normal 400 16px/1.5em Georgia, serif;
  color: #444;
  background: #fefefe;
  box-shadow: 0 0 3px #aaa;
}
p {
  margin-top: 0;
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2 {
  color: #222;
  margin: 0;
}
section h1 {
  font-size: 1.5em;
  font-weight: normal;
}
b,
abbr {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: #efefef;
  border-bottom: solid 1px #ccc;
  padding: 0 0.25em;
  margin-bottom: -1px;
  font-weight: bold;
}
b.weak,
abbr.weak {
  font-weight: normal;
}
header {
  padding-top: 1.5em;
  text-align: center;
}
header hgroup h1 {
  font-size: 2em;
  line-height: 1.5;
}
header hgroup h1 a,
header hgroup h1 a:visited {
  color: #222;
  text-decoration: none;
}
header hgroup h2 {
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 0.5em;
  font-weight: normal;
}
footer[role="contentinfo"] {
  border-top: solid 1px #888;
  padding: 2em 0;
  margin-top: 2em;
  font-size: 0.75em;
}
footer[role="contentinfo"] p {
  margin-bottom: 2em;
}
section {
  margin: 1.5em 0;
  clear: both;
}
section h1 {
  border-bottom: dotted 1px #aaa;
  margin-bottom: 0.5em;
  margin-top: -0.083333em;
}
section h2 {
  font-weight: normal;
  font-size: 1.24em;
  line-height: 1;
  margin-bottom: 0.25em;
}
section > ol,
section > ul,
section > div {
  overflow: hidden;
}
section ul li {
  display: inline-block;
  float: left;
}
.grid li {
  width: 50%;
  margin-bottom: 0.6875em;
  padding-bottom: 0.75em;
  margin-right: 0;
  border-bottom: solid 1px #eee;
}
.grid li b,
.grid li abbr {
  background: none;
  border: none;
  padding: 0;
}
article h2,
article footer {
  display: inline;
}
article time {
  color: #888;
  margin-left: 0.25em;
}
footer p {
  text-align: right;
}
.visuallyhidden {
  visibility: hidden;
}
.vcard span {
  display: none;
}
.sprite {
  background: url("../../assets/sprite.png") no-repeat top left;
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
  float: left;
}
.sprite.email {
  background-position: 0 0;
}
.sprite.facebook {
  background-position: 0 -17px;
}
.sprite.flickr {
  background-position: 0 -34px;
}
.sprite.github {
  background-position: 0 -51px;
}
.sprite.google {
  background-position: 0 -68px;
}
.sprite.linkedin {
  background-position: 0 -85px;
}
.sprite.twitter {
  background-position: 0 -102px;
}
@media screen and (min-width: 800px) {
  header hgroup h1 {
    font-size: 3em;
  }
  section h1 {
    float: left;
    width: 7em;
    border-bottom: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 600px) {
  body {
    padding: 0 4.5em;
  }
}
@media screen and (min-width: 480px) {
  section ul li {
    width: 48%;
    margin-right: 4%;
  }
  section ul li:nth-child(2n) {
    margin-right: 0;
  }
  section ul.grid li {
    width: 33%;
  }
}
