inline-block()
  display: inline-block
  *display: inline
  zoom: 1

$fontsize = 16px
$lineheight = 1.5em

html
  background: #eee
  height: 100%
  width: 100%

body
  max-width: 800px
  min-height: 100%
  margin: 0 auto
  padding: 0 1em
  font: normal 400 $fontsize/$lineheight Georgia, serif
  color: #444
  background: #fefefe
  box-shadow: 0 0 3px #aaa

p
  margin-top: 0
  margin-bottom: 1.5em

ul, ol
  margin: 0
  padding: 0
  list-style: none

h1, h2
  color: #222
  margin: 0

section h1
  font-size: 1.5em
  font-weight: normal

b, abbr
  inline-block()
  background: #efefef
  border-bottom: solid 1px #ccc
  padding: 0 .25em
  margin-bottom: -1px
  font-weight: bold

  &.weak
    font-weight: normal

header
  padding-top: $lineheight
  text-align: center

  hgroup
    h1
      font-size: 2em
      line-height: 1.5

      a, a:visited
        color: #222
        text-decoration: none
    h2
      font-size: 1.5em
      line-height: 1.5
      margin-bottom: .5em
      font-weight: normal


footer[role="contentinfo"]
  border-top: solid 1px #888
  padding: 2em 0 
  margin-top: 2em
  font-size: .75em
  p
    margin-bottom: 2em

section
  margin: $lineheight 0
  clear: both

  h1
    border-bottom: dotted 1px #aaa
    margin-bottom: .5em
    margin-top: -0.083333em

  h2
    font-weight: normal
    font-size: 1.24em
    line-height: 1
    margin-bottom: .25em

  & > ol, & > ul, & > div
    overflow: hidden

  ul li
    display: inline-block
    float: left


.grid li
  width: 50%
  margin-bottom: .6875em
  padding-bottom: .75em
  margin-right: 0
  border-bottom: solid 1px #eee

  b, abbr
    background: none
    border: none
    padding: 0

article 
  h2, footer
    display: inline

  time
    color: #888
    margin-left: .25em

footer p
  text-align: right

.visuallyhidden
  visibility: hidden

.vcard span
  display: none

.sprite
  background: url('../../assets/sprite.png') no-repeat top left
  width: 16px
  height: 16px
  margin-right: .5em
  float: left
  text-decoration: none
  
  &.email
    background-position: 0 0
  &.facebook
    background-position: 0 -17px
  &.flickr
    background-position: 0 -34px
  &.github
    background-position: 0 -51px
  &.google
    background-position: 0 -68px
  &.linkedin
    background-position: 0 -85px
  &.twitter
    background-position: 0 -102px

@media screen and (min-width: 800px)
  header hgroup h1
    font-size: 3em

  section h1
    float: left
    width: 7em
    border-bottom: 0
    margin-bottom: 0

@media screen and (min-width: 600px)
  body
    padding: 0 ($lineheight * 3)

@media screen and (min-width: 480px)
  section ul li
    width: 48%
    margin-right: 4%

    &:nth-child(2n)
      margin-right: 0

  section ul.grid li
    width: 33%

@media print
  body
    padding: 0 ($lineheight * 3)
  header hgroup h1
    font-size: 3em

  section
    h1
      float: left
      width: 7em
      border-bottom: 0
      margin-bottom: 0
    ul li
      width: 48%
      margin-right: 4%
      &:nth-child(2n)
        margin-right: 0
    ul.grid li
      width: 33%

  b, abbr
    border-bottom: none
    display: inline
    padding: 0
    margin: 0

  footer[role="contentinfo"]
    display: none

  *
    background: transparent !important
    color: black !important
    text-shadow: none !important
    filter:none !important
    -ms-filter: none !important
  a, a:visited
    text-decoration: underline
  a[href]:not(.sprite):not(.email):not(.fn):after
    content: " (" attr(href) ")"
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""
  tr, img, section, article
    page-break-inside: avoid
  img
    max-width: 100% !important
  @page
    margin: 0.5cm
  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid

